#if($category)
<h1>All categories</h1>
<ul>
  #foreach ($category in $categories)
    <li><a href="/categories/$category.getId()">$category.getName()</a></li>
  #end
</ul>
#else
  <em><p>Oops! We can't seem to find that Category.</p></em>
#end
<a href="/categories/$category.getId()/tasks/new">Add a new task</a>
<a href="/categories">All categories</a>
